# Exclude files from GitHub's language statistics.
# https://github.com/github/linguist#using-gitattributes

# Exclude files from GitHub's release package.
.editorconfig	export-ignore
.git	export-ignore
.gitattributes	export-ignore
.gitignore	export-ignore
readme.md	export-ignore
license.txt	export-ignore
